.container {
    display: block;

    &:focus, &:focus-visible {
        outline: none;
    }
}

.controls-div {
    background-color: blanchedalmond;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.editor-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 8px 6px 0px 6px;

    .score-buttons, .history-and-file-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: inherit;
    }
    .score-buttons {
        gap: inherit;
    }

    .pitch-container, .octave-container, .measures-container, .notes-and-rests-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: inherit;

        p {
            margin: 0;
            white-space: nowrap;
        }
    }

    button {
        font-size: 1rem;
        padding: 6px 6px 0px 6px;
    }

    .glyph {
        font-family: 'Bravura', serif;
        font-size: 1rem;
        margin: 0;
    }

    @media (max-width: 1024px) {
        gap: inherit;
        padding: 8px 6px 0px 6px;

        .history-and-file-buttons {
            gap: inherit;
        }
        .score-buttons {
            gap: inherit;
        }
        button {
            font-size: 0.875rem;
            padding: 6px 6px 0px 6px;
        }
        .glyph {
            font-size: 20px;
        }
    }

    @media (max-width: 600px) {
        gap: inherit;
        padding: 6px 4px 0px 4px;

        .history-and-file-buttons {
            gap: inherit;
        }
        .score-buttons {
            gap: inherit;
        }
        button {
            font-size: 0.75rem;
            padding: 3px 3px 0px 3px;
        }
        .glyph {
            font-size: 12px;
        }
    }
}
