.container {
    display: block;

    &:focus, &:focus-visible {
        outline: none;
    }
}

.controls-div {
    background-color: blanchedalmond;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.editor-controls {
    gap: 10px;
    .score-buttons, .history-and-file-buttons{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 2px;
    }
    .score-buttons {
        gap: 20px;
        
    }
}
