.container {
    display: block;

    &:focus, &:focus-visible {
        outline: none;
    }
}

.editor-controls {
    display: flex;
    flex-direction: column;
    gap: 3px;
    .note-change-buttons > * {
        display: inline;
    }

}